<div [ngClass]="{'popover-image-modal': modal && isOpenedPopover() && !(isDirective)}">
    <div class="popover-image"
         #popoverDiv
         [style.display]="displayPopover"
         [style.top]="positionTop"
         [style.left]="positionLeft">
        <div class="popover-image-image" *ngIf="image != undefined">
            <img src="{{image}}"
                 *ngIf="image != undefined"
                 class="img-popover-open">
        </div>
        <div class="popover-image-body" [ngClass]="{'popover-image-bubble': bubble, 'popover-image-arrow-left' : !bubble}">
            <ng-content></ng-content>
        </div>
    </div>
</div>
